<div id="sidebar">
  <% # show active items before hidden / completed items -%>

  <%= render :partial => "sidebar/project_list",
    :locals => { :list_name => I18n.t(:"sidebar.active_projects"),
    :projects => @active_projects } -%>

  <%= render :partial => "sidebar/context_list",
    :locals => { :list_name => I18n.t(:"sidebar.active_contexts"),
    :contexts => @active_contexts } -%>

  <% if prefs.show_hidden_projects_in_sidebar -%>
    <%= render :partial => "sidebar/project_list",
      :locals => { :list_name => I18n.t(:"sidebar.hidden_projects"),
      :projects => @hidden_projects } -%>
  <% end -%>

  <% if prefs.show_completed_projects_in_sidebar -%>
    <%= render :partial => "sidebar/project_list",
      :locals => { :list_name => I18n.t(:"sidebar.completed_projects"),
      :projects => @completed_projects } -%>
  <% end -%>

  <% if prefs.show_hidden_contexts_in_sidebar -%>
    <%= render :partial => "sidebar/context_list",
      :locals => { :list_name => I18n.t(:"sidebar.hidden_contexts"),
      :contexts => @hidden_contexts } -%>
  <% end -%>

</div>